* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #000000;
  height: 150px;
  padding: 20px;
  color: white;
}

.seperator {
  background-color: white;
  height: 0.5vh;
}

.track {
  height: 50vh;
  float: left;
}

.track h1 {
  padding-top: 10px;
  padding-left: 20px;
  font-size: 30px;
}

.track p {
  margin: 15px;
  font-size: 19px;

}

.App-intro {
  font-size: large;
}

.splash {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: black;
  background-image: url('starbackground.jpg');
  background-repeat: no-repeat;
  vertical-align: middle;
  display: block;
  float: left;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.splash-content {
  color: white;
  font-size: 12px;
  width: 80%;
  float: center;
  margin: 0 auto;
  pointer-events: none;
  font-weight: normal;
  padding-bottom: 200px;
}

.splash-logo {
  padding-top: 20vh;
  width: 100%;
  height: 400px;
  float: left;
  background-image: url('hacksclogo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.apply {
  width: 175px;
  height: 60px;
  background-color: yellow;
  font-family: 'Space Mono', Monaco, Consolas, Courier-New, monospace;
  font-weight: bold;
  font-size: 24px;
  pointer-events: auto;
  border-color: white;
  border-style: solid;
  border-width: 2px;
}

button.apply:hover {
  background-color: white;
  border-color: yellow;
}

.sponsor {
  width: 175px;
  height: 60px;
  background-color: transparent;
  font-family: 'Space Mono', Monaco, Consolas, Courier-New, monospace;
  font-weight: bold;
  font-size: 24px;
  pointer-events: auto;
  border-style: none;
  border-width: 0px;
  color: white;
}

button.sponsor:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 768px) {
  .splash-logo {
  margin-top: 10vh;
  margin-left: 70px;
  width: 40%;
  height: 400px;
  float: left;
  background-image: url('hacksclogovertical.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  }

  .splash-content {
  color: white;
  padding-top: 20vh;
  font-size: 14px;
  width: 40%;
  float: left;
  pointer-events: none;
  font-weight: normal;
  }

  .la-sky {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  background-image: url('laskyline.png');
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
  }
}

@media only screen and (min-width: 1000px) {
  .splash-logo {
  margin-top: 10vh;
  width: 40%;
  height: 400px;
  float: left;
  background-image: url('hacksclogovertical.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  }

  .splash-content {
  color: white;
  padding-top: 20vh;
  font-size: 14px;
  width: 35%;
  float: left;
  pointer-events: none;
  font-weight: normal;
  }

  .la-sky {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20vh;
  opacity: 0.5;
  background-image: url('laskyline.png');
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
  }

  .la-moon {
  position: absolute;
  bottom: 40vh;
  left: 40vw;
  width: 100%;
  height: 150px;
  opacity: 0.5;
  background-image: url('lamoon.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; 
  }
}


/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 1000px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
